# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log
package-lock.json
!package-lock.json

# IDEs and editors
/.vscode
/.idea
/*.launch
/.settings
/.project
/.classpath

# System Files
.DS_Store
Thumbs.db

# Angular cache
/.angular

# Testing
/coverage

# Environment files
.env
.env.*
!.env.example
